@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root{

    --color-global: #1293D4;
    --color-global1: #24282B;
    --color-global3: #E8491D;
}

.container{

    background: var(--color-global1);
    border-bottom: 5px solid var(--color-global);

}
.nav{
    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    
}
.container nav ul {

    display: flex;
    align-items: center;

}

.container nav ul li {
    list-style: none;
}

.container nav ul li > .items_links2, .items_links3, .items_links4{

    color: white;
    text-decoration: none;
    margin: 20px 30px;
    display: inline-block;
}
.title h1{
     
    color: white;


}


@media screen and (max-width: 583px) {

    .container nav ul li > .items_links2, .items_links3, .items_links4{

        color: white;
        text-decoration: none;
        margin: 10px 30px;
        display: inline-block;
    }
    .container nav ul li > .items_links2, .items_links3, .items_links4{

        color: white;
        text-decoration: none;
        margin: 15px 15px;
        display: inline-block;
        text-align: center;
    }
    
}
.title h1 span {
    
    color: var(--color-global);
}
nav ul  li .items_links1{
    color: var(--color-global);
    text-decoration: none;

}
.hero-header{

    background-image: url("../image/cabecera.jpg");
    height: 54vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-origin:padding-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-header h1{

    font-size: 4rem;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
.hero-header p{

    max-width: 1200px;
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    font-size: 1.10rem;
    line-height: -17px;
    letter-spacing: 0.004rem;
}
.content{

}
.sub-atract{
    background: var(--color-global1);

}

.suscripcion-text{
    
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.text-p p{

    color: #fff;
    margin: 27px 0;
    display: block;
    font-size: 1.60rem;
    font-weight: bold;
}
.input-subs input, button{

    padding: 8px;
    border: none;
}
.input-subs input{

    width: 250px;

}
.input-subs button{
    background: var(--color-global3);
    color: #fff;
    cursor: pointer;
}
.cards-herramientas{

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}
.cards-herramientas .card{

  
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card .picture img{

    width: 100px;
    margin: 0 auto;
    text-align: center;
}
.cards-herramientas .card h2, p{

    text-align: center;
    display: block;
}
.card h2{
    margin: 10px;
}

footer{
    margin-top: 40px;
    background: var(--color-global);
}

footer p{
    padding: 20px;
    color: #fff;
}
.content-text{

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.content-first article h2{

    margin: 20px 0;

}

.left-parrafo article{

    background: #242f3b;
    color: white;
    margin-top: 2rem;
    padding: 10px;
    margin-left: 40px;
}
.parrafo-second{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #242f3b;

    color: #fff;
    padding: 30px;
}
.parrafo-second p{

    text-align: start;
}
.left-parrafo article h2{

    display: block;
    margin: 20px;
    font-size: 19px;
}
.left-parrafo article p{

    display: block;
    text-align: start;
    margin: 20px;
}
.content-first{
    max-width: 47rem;
}
.image picture img{

    max-width: 47rem;
    height: 15rem;
}
footer .text-footer{

    padding: 3rem;
}
.section1{

    border: 2px solid rgb(227, 227, 227);
    margin: 20px;
    padding: 10px;
    background: #eee;
    
}
.content-first{

    display: flex;
    flex-direction: column;

}
.text-serv{

    margin: 20px;
}
.fry{

    margin: 20px;
}
.section1 p{

    text-align: start;
    margin: 20px;
}
.uytt{
    padding: 0px;
}
.first{

    width: 60%;
}
.content-ki{

    width: 40%;
    margin-left: 30px;
}
.content-provider{

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
   
}
.first .inputs{

    display: flex;
    flex-direction: column;
    
}
.first .inputs label{
    margin: 5px 0px;

}

.first .inputs input{

    padding: 9px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #aeaeae;
}
.first .inputs input:focus{
    border: 1px solid #E8491D;
    box-shadow: 0px 1px 4px #E8491D;
}
.first .inputs textarea{
    margin: 10px 0px ;
    padding: 9px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #aeaeae;
}
.first .inputs textarea:focus{

    border: 1px solid #E8491D;
    box-shadow: 0px 1px 4px #E8491D;
}
.first .inputs button{
    background: var(--color-global3);
    padding: 10px;
    color: #fff;
    border: 1px solid var(--color-global3);
    cursor: pointer;
}
.first .inputs button:hover{

    background: #f25428;
}
.first form h1{

    margin: 10px 0px;
}
.content-ki article{
    margin-top: 20px;
    margin-bottom: 10px;
    background: #242f3b;

    color: #fff;
    padding: 30px;

}
.content-ki article h2 {
    margin: 10px;

}
.content-ki article p {
    margin: 10px;
    text-align: start;

}
.content-ki picture  img{
   width: 100%;

}
@media screen and (max-width: 1263px) {
  
    .title h1{
     
        margin: 0px 15px;
    
    
    }
    .input-subs input, button{

        padding: 8px;
        border: none;
        margin: 10px;
    }
    .nav{
    
        display: flex;
        justify-content: space-between;
        
        max-width: 1200px;
        align-items: center;
        margin: 0 auto;
        
    }
    .text-p p{

        color: #fff;
        margin: 27px 10px;
        display: block;
        font-size: 1.60rem;
        font-weight: bold;
    }
    
}
@media screen and (max-width: 899px) {
  
    .title h1{
     
        margin: 8px 15px;
    
    
    }
    .nav{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1200px;
        align-items: center;
        margin: 0 auto;
        
    }
    .hero-header h1{

        font-size: 4rem;
        font-weight: bold;
        font-family: sans-serif;
        color: white;
        margin: 0rem  2rem;
    }
    .hero-header p{
    
        max-width: 1200px;
        text-align: start;
        margin-top: 2rem;
        color: #fff;
        font-size: 1.10rem;
        line-height: -17px;
        letter-spacing: 0.004rem;
        margin: 0rem 2rem;
    }
    
}
@media screen and (max-width: 560px) {
    .hero-header{

        width: 100%;
    }
    .hero-header h1{

        font-size: 2.4rem;
        font-weight: bold;
        font-family: sans-serif;
        color: white;
        text-align: center;
        margin: 0.20rem  2rem;
    }
    .hero-header p{
    
        max-width: 1200px;
        text-align: center;
        margin-top: 2rem;
        color: #fff;
        font-size: 1.10rem;
        line-height: -17px;
        letter-spacing: 0.004rem;
        margin: 0rem 2rem;
    }
    
}
@media screen and (max-width: 789px){

    .suscripcion-text{
    
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

}

/* */